<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Password Reset Send</h3>

    <h4>we had mailed you the link to your email
        kindly check your mail to reset password
    </h4>
    <h4>If you didn't get the mail please make sure that 
        you entered your correct email that you registered
    </h4>
</body>
</html>
